[alias]
	a = add
	b = branch
	c = commit -v
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --staged
	f = fetch
	in = "!f(){ local b=$(git symbolic-ref --short HEAD); local r=${1:-origin}; git fetch $r $b; git ll ..$r/$b; }; f"
	l = log --stat
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %Cblue<%an>%Creset' --date=short
	out = "!f(){ local b=$(git symbolic-ref --short HEAD); local r=${1:-origin}; git ll $r/$b..; }; f"
	pl = pull
	ps = push --recurse-submodules=check
	psr = push --recurse-submodules=on-demand
	st = status --short -b
	stl = status --long
	su = submodule
[color]
	ui = true
[merge]
	tool = vimdiff
	ff = false
[mergetool]
	prompt = false
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autoStash = true
	autoSquash = true
[status]
	submodulesummary = true
[user]
	name = Uwe Sommerlatt
	email = uwe.sommerlatt@gmail.com
