[alias]
	a = add
	b = branch
	bc = rev-parse --abbrev-ref HEAD
	bll = branch --list
	blr = branch -r --list
	bla = branch -a --list
	blu = remote update origin --prune
	c = commit -v
	ca = commit -v --amend
	can = commit -v --amend --no-edit
	cc = clean -f -d
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --staged
	f = flow
	fi = flow init --defaults
	fb = flow bugfix
	fbl = flow bugfix list -v
	fbs = flow bugfix start
	fbf = flow bugfix finish
	fbp = flow bugfix publish
	fd = "!f(){ git log --oneline $@ | sed -nr 's/.*Merged in .*\\/([A-Z]+-[0-9]+).*/\\1/p' | tr '\\n' ' ' | tee /dev/tty | xclip -i -sel clipboard; }; f"
	ff = flow feature
	ffl = flow feature list -v
	ffs = flow feature start
	fff = flow feature finish
	ffp = flow feature publish
	fr = flow release
	frl = flow release list -v
	frs = flow release start
	frf = flow release finish --keepremote
	frp = flow release publish
	in = "!f(){ local b=$(git symbolic-ref --short HEAD); local r=${1:-origin}; git fetch $r $b; git lo ${2:-} ..$r/$b; }; f"
	lo = "!f(){ git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %Cblue<%an>%Creset' --date=short $@; }; f"
	ll = log --stat
	l = "!f() { git lo --graph $@ && exit 0; }; f"
	out = "!f() { local b=$(git symbolic-ref --short HEAD); local r=${1:-origin}; git lo ${2:-} $r/$b..; }; f"
	pl = pull
	ps = push
	psa = push --all
	psr = push --recurse-submodules=on-demand
	rl = reflog --date=local
	s = show
	st = status --short -b
	stl = status --long
	su = submodule
	suf = submodule foreach
	t = tag
	tl = tag --list
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [ \\\"$`echo $VAR`\\\" = '$OLD' ]; then export $VAR='$NEW'; fi\" $@; }; f "
[color]
	ui = true
[core]
	pager = delta
	editor = nvim
	excludesfile = /home/uwe/.gitignore
[delta]
	navigate = true
	line-numbers = true
	diff-highlight = true
	hunk-header-style = hidden
	file-style = blue
	file-decoration-style = omit
	line-numbers-left-format = "{nm:^4}⋮ "
	line-numbers-right-format = "{np:^4}│ "
	line-numbers-left-style = "#777777"
	line-numbers-right-style = "#777777"
	line-numbers-zero-style = "#777777"
	line-numbers-minus-style = "#BB0000"
	line-numbers-plus-style = "#009900"
[merge]
	tool = nvim
	ff = false
	conflictstyle = diff3
[mergetool]
	prompt = false
[mergetool "nvim"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
	recurseSubmodules = check
[rebase]
	autoStash = true
	autoSquash = true
[status]
	submodulesummary = true
[user]
	name = Uwe Sommerlatt
	email = uwe.sommerlatt@gmail.com
[include]
  path = ~/.gitconfig-local
[format]
	pretty = fuller
[gitflow "prefix"]
	versiontag = v
[gitflow "branch"]
	master = main
[diff]
	submodule = diff
[init]
	templatedir = ~/.git-templates
[gpg]
	program = gpg2
