[user]
	name = Uwe Sommerlatt
	email = Uwe.Sommerlatt@ottogroup.de
[color]
	ui = true
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	ff = false
[mergetool]
	prompt = false
[status]
	submodulesummary = true
[alias]
	in = "!f(){ local b=$(git symbolic-ref --short HEAD); local r=${1:-origin}; git fetch $r $b; git ll ..$r/$b; }; f"
	out = "!f(){ local b=$(git symbolic-ref --short HEAD); local r=${1:-origin}; git ll $r/$b..; }; f"
	st = status --short -b
	stl = status --long
	c = commit -v
	a = add
	l = log --stat
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %Cblue<%an>%Creset' --date=short
	pl = pull
	ps = push --recurse-submodules=check
	psr = push --recurse-submodules=on-demand
	co = checkout
	b = branch
	su = submodule
	d = diff
	ds = diff --staged
[http]
	sslVerify = false
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
