#!/bin/bash

branchName=$(git rev-parse --abbrev-ref HEAD)
jiraId=$(echo $branchName | sed -nr 's,[a-z]+/([A-Z]+-[0-9]+)-.+,\1,p')

# $1 is the name of the file containing the commit message
# $2 is empty if it's a regular commit (no merge, amend, squash,...)

if [ ! -z "$jiraId" ] && [ -z "$2" ]; then
 sed -i.bak -e "1s/^/\n\n[$jiraId]\n/" $1
fi
